<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stats of Suicide Rates in China</title>
  <style>
    header {
    background-color: blue;
    color: white;
    padding: 10px;
    }

    .sidebar {
    background-color: lightgray;
    padding: 10px;
    }

  </style>
</head>
<body>
  <header>
    <h1>Stats of Suicide Rates in China</h1>
  </header>
  <div class="sidebar">
    <ul>
      <li><a href="{% url 'age-suicide' %}">Most Suicide By Age</a></li>
      <li><a href="{% url 'gender-suicide' %}">Suicide Rate By Gender</a></li>
      <li><a href="{% url 'education-suicide' %}">Suicide by Education Level</a></li>
      <li><a href="{% url 'occupation-suicide' %}">Suicide By Occupation</a></li>
      <li><a href="{% url 'suicide-time' %}">Suicide Rate over Time</a></li>
    </ul>
  </div>
  <div class="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
</html>
